node_modules/
bower_components/
*.log

build/
dist/

.DS_Store

server/libraries/supportedLibraries/*
!server/libraries/supportedLibraries/.emptyDir

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/.*

client/react/assets/*
client/react/bundle.js
